[data-fs-radio-field] {
  // --------------------------------------------------------
  // Design Tokens for Radio Field
  // --------------------------------------------------------

  // Default properties
  --fs-radio-field-gap                    : var(--fs-spacing-1);

  display: flex;
  column-gap: var(--fs-radio-field-gap);
  align-items: center;
}
